body {
	background: url("../img/body_bg.jpg") repeat scroll 0 0 #222222;
    color: black;
	height:695px;
	font-family: Oxygen;
	padding-bottom:0px;
	margin: 0px;
	padding: 0px;
}

.wrap {
	background:white;
	width:800px;
	margin:auto;
	border-radius:5px;
	box-shadow: 3px 6px 13px #888888;
	padding:20px;
	margin-top: 40px;
	overflow: hidden;
}

label {
	width:300px;
}

.search {
	float: right;
	clear: both;
	margin-bottom: 30px;
}

.search_button{
	float: right;
	margin-right: 10px; 
}

.ejecutar{
	margin-bottom: 40px;
}

table.tabla_index th {
	border-bottom: 2px solid black;
	padding: 5px;
}

table.tabla_index td {
	padding: 5px;
}

table.tabla_ver td {
	padding:10px;
}

table.tabla_ver td, table.tabla_ver th{
	border-bottom: 1px solid black;
}

.header{
	width: 100%;
	color: white;
	height: 50px;
	padding-top: 20px;
	background-image: linear-gradient(bottom, rgb(69,68,65) 44%, rgb(43,43,43) 72%, rgb(0,0,0) 86%);
	background-image: -o-linear-gradient(bottom, rgb(69,68,65) 44%, rgb(43,43,43) 72%, rgb(0,0,0) 86%);
	background-image: -moz-linear-gradient(bottom, rgb(69,68,65) 44%, rgb(43,43,43) 72%, rgb(0,0,0) 86%);
	background-image: -webkit-linear-gradient(bottom, rgb(69,68,65) 44%, rgb(43,43,43) 72%, rgb(0,0,0) 86%);
	background-image: -ms-linear-gradient(bottom, rgb(69,68,65) 44%, rgb(43,43,43) 72%, rgb(0,0,0) 86%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.44, rgb(69,68,65)),
		color-stop(0.72, rgb(43,43,43)),
		color-stop(0.86, rgb(0,0,0))
	);
	border-bottom: 2px solid #d7e4e8;
}

.title{
	height: auto;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	font-weight: bold;
}

.menu_container{
	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
	height: 50px;
	color: white;
}

.menu{
	height: auto;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	font-size: 20px;
}

.menu li{
	float: left;
	margin-left: 10px;
	cursor: pointer;
}

.menu li:hover{
	
}

.menu ul{
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.menu li ul{
	float: left;
	position: absolute;
	left: 0px;
	display: none;
	min-width: 120px;
	margin-top: 3px;
	margin-left: 50%;
	left: -440px;
	font-size: 16px;
}

.menu a {
	color: white;
	text-decoration: none;
}

.option:hover {
	color: #d7e4e8;
}

.selected {
	color: #d7e4e8;
}

.children a:hover{
	color: #d7e4e8;
}

.children{
}

.articulos_almacen {
	float:left;
}

.imagen_articulo {
	float:left;
}

.egreso_izquierda {
	float:left;
	border:1px solid black;
	width:570px;
	padding:10px;
}

.egreso_derecha {
	padding:15px;
	border:1px solid black;
	height:130px;
	float:right;
}

.boton_egreso {
	float: right;
	margin-top: -4px;
}

.message {
	background: #00abd7;
	color: white;
	position: absolute;
	width: auto;
	padding: 20px;
	border-radius: 10px;
	margin: auto;
	margin-top: -20px;
	margin-left: 35%;
	font-size: 20px;
}

.listado_categoria {
	font-size: 20px;
	font-weight: bold;
}

.listado_subcategoria {
	padding-left:40px;
}

.categoria_catalogo  {
	font-size: 24px;
	font-weight: bold;
	float:right;
}

.subcategoria_catalogo  {
	font-size: 20px;
	font-weight: bold;
	clear:right;
}

.etiqueta {
	border: 1px solid black;
	margin:10px;
	float:left;
	padding:20px;
	font-size:14px;
	max-height:165px;
}

.codigo_caja {
	font-size:27px;
}

.imagen_catalogo {
	float:left;
	margin-top: 28px;
	margin-left: 25px;
}

.articulo_catalogo {
	width:795px;
	overflow: hidden;
	border:1px solid black;
	margin-top:15px;
}

.info_catalogo td {
	padding:20px;
}

.mensaje_vacio {
	font-weight: bold;
	text-align:center;
	font-size:20px;
}

td.titulo_tabla {
	font-weight:bold;
	font-size:18px;
}

.logout {
	color:white;
	margin-left:74%;
}

.logout a {
	color:white;
}

.codigo_telefono {
	float:left;
	width: 30px;
}

input.boton_catalogo {
	float:left;
}

span.descripcion_catalogo{
	font-weight:bold;
	margin:15px;
}

.agregar_inventario {
	float:left;
}

.ano_inventario {
	float:right;
}

.ano_movimientos {
	float:right;
}

.subtitulo_movimientos {
	float:left;
}

.input_pequeno {
	width:35px;
}

.input_descripcion {
	width: 246px;
	height: 45px;
}

input#codigo {
	text-transform: uppercase;
}

.consulta_lista_base{
	float: right;
	margin-right: 55px;
	margin-top: -30px;
}